<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-ccd-devtools.ZPM">
    <Module>
      <Name>iris-ccd-devtools</Name>
      <Version>2.0.1</Version>
      <Description>Repository for IRIS DevTools UI and API - Support for CCD and FHIR Development</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="CCD.PKG"/>
      <Resource Name="FHIR.PKG"/>
      <Resource Name="IRISAPP.PKG"/>
      <Resource Name="IRISAPPPKG.PKG"/>
      <Resource Name="LEAD.PKG"/>
    
      <WebApplication 
      Url="/csp/visualizer/service"
      DispatchClass="CCD.Visualizer.REST.ServiceMap"
      NameSpace="IRISAPP"
      MatchRoles=":%All"
      PasswordAuthEnabled="0"
      UnauthenticatedEnabled="1"
      InbndWebServicesEnabled="1"
      Recurse="1"
      UseCookies="2"
      CookiePath="/csp/visualizer/service"
    />
    
     <Invoke Class="Ens.Director" Method="SetAutoStart">
        <Arg>IRISAPPPKG.FoundationProduction</Arg>
      </Invoke>
      <Invoke Class="Ens.Director" Method="StartProduction">
        <Arg>IRISAPPPKG.FoundationProduction</Arg>
      </Invoke>
       <Invoke Class="IRISAPP.Install" Method="Run">
     </Invoke>
    </Module>
    
  </Document>
</Export>
