* {
    color: black;
}

.home {
    height: 80vh;
}

textarea, input {
    border-radius: .5em;
}

.comp {
    width: 80vw;
    height: 90vw;
    /* background-color: brown; */
}

.comp-input {
    width: 70vw;
    /* height: 4rem; */
    padding: 2rem;
}



.comp-area {
    padding: 2rem;
    width: 70vw;
    height: 60vh;
}

.btn {
    width: 6rem;
    height: 3rem;
    margin: 0 auto;
    /* left: 40%; */
}

.col {
    width: 8.8%;
}

.big-col {
    width: 45%;
}

.xml {
    height: 40vh;
}

.title {
    font-size: 2rem;
}

.subTitle {
    font-size: 1.5rem;
}

.labelOne {
    width: fit-content;
}

.customGrey {
    background-color: rgb(174, 190, 213);
}

.custom-bg {
    background-color: rgb(194, 219, 251);
}

.transformBtn {
    width: 8rem;
}

button {
    margin: .15em;
    padding: .4em;
    z-index: 99;
    border-radius: .5em;
    border: 1px solid rgb(174, 190, 213);
}

button:hover {
    background-color: rgb(194, 219, 251);
}

button:active {
    background-color: rgb(171, 192, 219);
}